<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <p>{{ title }}</p>
  </h1>
  <img width="300" alt="Bilahari Picture" src="https://avatars2.githubusercontent.com/u/36049190?s=460&v=4">

</div>

<div style="text-align: center">
  <h2>
    <label>Your Name</label>
    <input type="text" [(ngModel)]="name">
    <p>HI,  {{ name }}!</p>
  </h2>
</div>

<hr>
<div class="app-education"></div>
<!-- <app-education></app-education> -->
<app-success></app-success>
<app-warning></app-warning>
